<!doctype html>
<html lang="en">

{{> head title="500 Internal Server Error"}}
{{> navbar}}
<br><br>
<br><br>
<div class="container-lg">
  <h1 style="text-align: center;">500 Internal Server Error</h1>
  <br><br><br>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary"><a href="/" style="color: white; text-decoration: none;">Go Home</a></button>
  </div>
</div>